.social-container{
    width: 750px;
    padding: 10;
    margin: 0 auto;
    font-size: 4rem;
}

.facebook{
    color: blue;
}

.instagram{
    color: red;
}

.twitter{
    color: #0362fc;
}

.linkedin{
    color: #0352fc;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
.community-title{
    font-family: "Kalam";
    font-size: 32px;
    text-align:center; 
    padding-top:100px;
}

