.social-container{
    width: 750px;
    padding: 10;
    margin: 0 auto;
    font-size: 4rem;
}

.facebook{
    color: blue;
}

.instagram{
    color: red;
}

.twitter{
    color: #0362fc;
}

.linkedin{
    color: #0352fc;
}

.linkedin:hover {
    transform:  scale(1.3);
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.community-title{
    font-family: "Bree Serif";
    font-size: 32px;
    text-align:center; 
    text-style: bold;
    padding-top:100px;
}

