.social-container{
    width: 750px;
    padding: 10;
    margin: 0 auto;
    font-size: 4rem;
}

.facebook{
    color: blue;
}

.instagram{
    color: red;
}

.twitter{
    color: #0362fc;
}

.linkedin{
    color: #0352fc;
}
