.body {
    text-align: center;
}

.new_project {
    transform:  scale(1.3);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.title{
    font-family: "Inter";
    font-size: 39px;
    font-style: bold;
    text-align:center; 
    padding-top:100px;
}

.description{
    font-family: "Inter";
    color: black;
}

.side-by-side{
    display: flex;
}

.sign-up{
    font-size: 20px;
    text-align:center; 
}
.login{
    font-size: 20px;
    text-align:center; 
}

.sign-up:hover{
    transform:  scale(1.15);
}
.login:hover{
    transform:  scale(1.3);
}

.okbutton{
    background-color: coral;
    border: 0px;
    border-width: 1px 1px 1px 1px;
    height: 30px;
    width: 180px;
    margin-top: 20px;
    border-radius: 30px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
}