header {
    background-color: #F5EBD8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    text-align: center;
}

.links-header {
    display: flex;
    flex-direction: row;
}

.right-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.left-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*--------------------------------------------------*/

.link {
    font-size: 20px;
    color: #8E0808;
    margin: 20px;
    text-decoration: none;
}

.link:hover {
    color: #ff712a;
    /* text-decoration: underline; */
    /* transform:  scale(1.3); */
}

.title-header {
    color: #8E0808;
    font-size: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Silkscreen&display=swap');

.software {
    font-family: 'Anton';
    font-style: bold;
    color: #8E0808;
    font-size: 25px;
}