.background{
    z-index: -1;
    width: 70%;
    height: 100%;
    left: 0;
    right: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1281px) and (max-width: 1439px) {
    .background {
        width: 50%;
        margin-top: 10%;
    }
}